*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# Flask
/flask/venv

# Python cache
__pycache__/
*.pyc

# Database lokal
/database/database.sqlite

# TensorFlow logs
events.out.tfevents.*

# Model training sementara
*.h5

# Jika model terlalu besar
# *.keras
# *.pkl